*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
classes/
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
logs/
*.log
dependency-reduced-pom.xml
/account-register/register-service/register-service.iml
/account-register/register-bootstrap/*.iml
/account-register/register-biz/register-biz.iml
